@import '../../styles/colors';
@import '../../styles/mixins';

.productList {
  margin-bottom: 2rem;

  .wrapper {
    overflow: hidden;
    border: 1px solid $gray700;
    border-radius: 1rem;
  }

  .emptyStateMessage {
    @include mediumFont(112);
    font-size: clamp(16px, 2vw, 24px);
    text-align: center;
    color: $gray200;
    padding: 2em 1em;
  }
}
