@import '../../styles/colors';
@import '../../styles/mixins';

.productList {
  margin-bottom: 2rem;

  .wrapper {
    overflow: hidden;
    border: 1px solid $gray700;
    border-radius: 1rem;
  }

  .emptyStateMessage {
    @include mediumFont(112);
    padding: 2em 1em;

    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    color: $gray200;
  }
}
