$black: #0b0d14;
$gray100: #464a56;
$gray200: #696f7a;
$gray300: #878e98;
$gray700: #e3e6ea;
$gray850: #f5f6f8;
$gray900: #f7f8fa;
$white: #ffffff;

$accent: #dcfd88;
$accent_transparent: rgba($accent, 0.32);

$star: #f3b146;

$shadow_low: 0px 2px 20px 0px rgba($black, 0.16);
$shadow_high: 0px 6px 32px 0px rgba($black, 0.16);
