@mixin mediumFont($width) {
  font-weight: 530;
  font-variation-settings: 'wght' 530, 'wdth' $width;
}

@mixin flexRow {
  display: flex;
  align-items: center;
}

// responsive media queries

$sizes: (
  's': 567px,
  'm': 767px,
  'l': 1023px,
  'xl': 1439px,
);

@mixin forMediaLess($media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (max-width: $resolution) {
        @content;
      }
    }
  }
}
