@mixin mediumFont($width) {
  font-weight: 530;
  font-variation-settings: 'wght' 530, 'wdth' $width;
}

@mixin flexRow {
  display: flex;
  align-items: center;
}

// responsive media queries

$sizes: (
  'mobile': 480px,
  'small': 640px,
  'medium': 1200px,
);

@mixin forMediaLess($media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (max-width: $resolution) {
        @content;
      }
    }
  }
}
