@import '../../styles/colors';
@import '../../styles/mixins';

.filter {
  margin-bottom: clamp(0.75rem, 1.67vw, 2rem);

  .wrapper {
    @include flexRow;
    justify-content: space-between;
  }

  .title {
    @include mediumFont(112);
    font-size: clamp(16px, 2.22vw, 40px);
  }

  select {
    @include flexRow;
    @include mediumFont(112);
    padding: 11px 16px 11px 20px;
    gap: 8px;
    background-color: $gray850;
    min-width: 148px;
    border-radius: 16px;

    &:hover {
      background: $gray700;
    }
  }
}
