@import '../../styles/colors';
@import '../../styles/mixins';

.search {
  @include flexRow;
  width: 100%;
  gap: 0.75rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-radius: 1.5rem;
  background-color: $white;

  svg {
    flex-shrink: 0;
    @include forMediaLess('mobile') {
      display: none;
    }
  }
}

.searchInput {
  width: 100%;
  color: $black;

  &::placeholder {
    color: $gray300;
    text-overflow: ellipsis;
  }
}

.searchButton {
  @include mediumFont(105);
  padding: clamp(0.25rem, 1.5vw, 0.9375rem) clamp(1rem, 3vw, 2rem);
  border-radius: 1rem;
  color: $black;
  background-color: $accent;
  transition: 0.1s ease-in-out;
  -webkit-user-select: none; /* Safari */
  user-select: none;
  &:hover {
    background-color: darken($accent, 5);
    transform: translateY(-1px);
    box-shadow: 0 1px 4px rgba(darken($accent, 70), 0.1);
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 0px 2px rgba(darken($accent, 70), 0.2);
  }
}
