---
import Logotype from './Logotype.astro';
import CategoriesMenu from './CategoriesMenu.astro';
import Updates from './Updates.astro';
---

<header>
  <div class="container">
    <div class="wrapper">
      <Logotype />
      <nav>
        <CategoriesMenu title="Software categories" />
        <Updates href="#" notification />
      </nav>
    </div>
  </div>
</header>

<!-- scoped styles -->

<style lang="scss">
  @import '../styles/mixins';

  header {
    padding: clamp(0.75rem, 1.6%, 1.5rem) 0;

    .wrapper {
      @include flexRow;
      justify-content: space-between;
    }

    nav {
      @include flexRow;
      font-size: clamp(12px, 2.5vw, 16px);
      gap: clamp(0.75rem, 2.22vw, 3rem);
    }
  }
</style>
