---
import { Icon } from 'astro-icon';
---

<div class="logotype">
  <h1 class="visually-hidden">Zipper IT services</h1>
  <a href="#">
    <Icon name="logotype" />
  </a>
</div>

<style lang="scss">
  .logotype {
    flex-shrink: 0;
    [astro-icon] {
      height: 36px;
    }
  }
</style>
