@import '../../styles/colors';
@import '../../styles/mixins';

.search {
  margin-bottom: 32px;

  .wrapper {
    background-color: $black;
    border-radius: 16px;
    padding: clamp(24px, 6.5%, 96px) 1rem clamp(24px, 7.6%, 160px);
    background-image: url('../../images/stars-background.svg');
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: center bottom -6.3vw;
  }

  .title {
    @include mediumFont(117);
    font-size: clamp(20px, 3.89vw, 64px);
    line-height: 1.25;
    text-align: center;
    letter-spacing: normal;

    width: clamp(256px, 56%, 720px);
    margin: 0 auto clamp(16px, 3.4%, 48px);

    color: $white;
  }

  .searchBox {
    width: clamp(256px, 43%, 640px);
    margin: 0 auto;
  }
}
