@import '../../styles/colors';
@import '../../styles/mixins';

.search {
  margin-bottom: clamp(20px, 2.22vw, 40px);

  .wrapper {
    background-color: $black;
    border-radius: 1rem;
    padding: clamp(1.5rem, 6.5%, 6rem) 1rem clamp(1.5rem, 7.6%, 10rem);
    background-image: url('../../images/stars-background.svg');
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: center bottom -6.3vw;
  }

  .title {
    @include mediumFont(117);
    font-size: clamp(1.2rem, 3.89vw, 4rem);
    line-height: 1.25;
    text-align: center;
    letter-spacing: normal;

    width: clamp(16rem, 56%, 45rem);
    margin: 0 auto clamp(1rem, 3.4%, 3rem);

    color: $white;
  }

  .searchBox {
    max-width: 35.75rem;
    margin: 0 auto;
  }
}
