---
// astro components
import Header from '../components/Header.astro';
import OpenGraph from '../components/OpenGraph.astro';
import Favicon from '../components/Favicon.astro';
import GoogleFonts from '../components/GoogleFonts.astro';

// react components
import App from '../components/App/App';

// global styles
import '../styles/normalize.scss';
import '../styles/global.scss';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <OpenGraph />
    <Favicon />
    <GoogleFonts />
    <title>Zipper IT services</title>
  </head>
  <body>
    <Header />
    <App client:load />
  </body>
</html>
